<article>
    <h1>{{ method }} {{ path }} {{ created_at }}</h1>
    {{#if query }}
    <h2>query</h2>
    <table>
        <tbody>
            {{#keyvalue query }}
            <tr><th>{{ key }}</th><td>{{ value }}</td></tr>
            {{/keyvalue }}
        </tbody>
    </table>
    {{/if }}
    <h2>headers</h2>
    <table>
        <tbody>
            {{#keyvalue headers }}
            <tr><th>{{ key }}</th><td>{{ value }}</td></tr>
            {{/keyvalue }}
        </tbody>
    </table>
    {{#if data }}
    <h2>data</h2>
    <table>
        <tbody>
            {{#keyvalue data }}
            <tr><th>{{ key }}</th><td>{{ value }}</td></tr>
            {{/keyvalue }}
        </tbody>
    </table>
    {{/if }}
    {{#if body }}
    <h2>body</h2>
    <pre>{{ body }}</pre>
    {{/if }}
    {{# if links }}
    <nav>
        <ul>
        {{# if links.previous }}
            <li><a href="{{ links.previous.href }}" rel="previous" title="{{ links.previous.description }}"><</a></li>
        {{/if }}
        <li><a href="{{ url }}" rel="self", title="Callback details">{{ number }} / {{ handler.callbacks_count }}</a></li>
        {{# if links.next }}
            <li><a href="{{ links.next.href }}" rel="next" title="{{ links.next.description }}">></a></li>
        {{/if }}
        </ul>
    </nav>
    {{/if }}
</article>
